# Pandas Library

## Useful for Data Preprocessing and Analysis

In [1]:
# Pandas DataFrame
# Is a two-dimensional tabular data structure and labelled axis (rows and columns)

import pandas as pd
import numpy as np

In [2]:
Data_df = pd.read_csv("/Users/balogunishaq/Desktop/Complete Machine Learning Course - Siddhardhan/datasets/Data.csv")
Data_df

      Unnamed: 0     AT      V       AP     RH      PE
0              0  14.96  41.76  1024.07  73.17  463.26
1              1  25.18  62.96  1020.04  59.08  444.37
2              2   5.11  39.40  1012.16  92.14  488.56
3              3  20.86  57.32  1010.24  76.64  446.48
4              4  10.82  37.50  1009.23  96.62  473.90
...          ...    ...    ...      ...    ...     ...
9563        9563  16.65  49.69  1014.01  91.00  460.03
9564        9564  13.19  39.18  1023.67  66.78  469.62
9565        9565  31.32  74.33  1012.92  36.48  429.57
9566        9566  24.48  69.45  1013.86  62.39  435.74
9567        9567  21.60  62.52  1017.23  67.87  453.28

[9568 rows x 6 columns]

In [3]:
Data_df.head()

   Unnamed: 0     AT      V       AP     RH      PE
0           0  14.96  41.76  1024.07  73.17  463.26
1           1  25.18  62.96  1020.04  59.08  444.37
2           2   5.11  39.40  1012.16  92.14  488.56
3           3  20.86  57.32  1010.24  76.64  446.48
4           4  10.82  37.50  1009.23  96.62  473.90

In [4]:
Data_df.shape

(9568, 6)

In [5]:
Data_df = pd.DataFrame(np.random.rand(20,10))

In [6]:
Data_df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.709286,0.491670,0.053567,0.131298,0.660346,0.546429,0.263920,0.454850,0.119897,0.166624
1,0.304736,0.379384,0.173123,0.678024,0.597740,0.112705,0.810395,0.227237,0.165447,0.625536
2,0.015837,0.142625,0.362944,0.644045,0.041253,0.060030,0.306851,0.850937,0.104739,0.329794
3,0.096182,0.911785,0.203874,0.377252,0.148201,0.001210,0.229776,0.427144,0.904369,0.554752
4,0.821322,0.663825,0.398331,0.734498,0.681759,0.318423,0.342010,0.102425,0.302432,0.481964

In [7]:
# print the last 5 columns of the DataFrame
Data_df.tail()

,0,1,2,3,4,5,6,7,8,9
15,0.055161,0.726365,0.266456,0.368048,0.731921,0.302109,0.474016,0.833485,0.485487,0.824808
16,0.152464,0.546194,0.607926,0.539669,0.796499,0.607340,0.033777,0.722030,0.747044,0.402560
17,0.576510,0.008752,0.411669,0.437936,0.083343,0.403973,0.809927,0.614402,0.685722,0.119112
18,0.158644,0.216741,0.061452,0.292351,0.644060,0.350183,0.127390,0.195984,0.708803,0.322464
19,0.360432,0.304280,0.175420,0.009395,0.586930,0.705303,0.146802,0.788416,0.726250,0.429349

In [8]:
# Information about the DataFrame
Data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       20 non-null     float64
 1   1       20 non-null     float64
 2   2       20 non-null     float64
 3   3       20 non-null     float64
 4   4       20 non-null     float64
 5   5       20 non-null     float64
 6   6       20 non-null     float64
 7   7       20 non-null     float64
 8   8       20 non-null     float64
 9   9       20 non-null     float64
dtypes: float64(10)
memory usage: 1.7 KB

In [9]:
# Finding the number of missing values

Data_df.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int64

In [10]:
led_df = pd.read_csv("/Users/balogunishaq/Desktop/Complete Machine Learning Course - Siddhardhan/datasets/Life Expectancy Data.csv")
led_df

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [129]:
led_df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [131]:
# Count the values based on the labels
led_df.value_counts('Adult Mortality')

Adult Mortality
12.0     34
14.0     30
16.0     29
138.0    25
11.0     25
         ..
463.0     1
462.0     1
461.0     1
333.0     1
723.0     1
Name: count, Length: 425, dtype: int64

In [133]:
# Group the values based on the mean
# led_df.groupby('Adult Mortality').mean()

# Statistical Measures

In [137]:
# Count the number of values
led_df.count()

Country                            2938
Year                               2938
Status                             2938
Life expectancy                    2928
Adult Mortality                    2928
infant deaths                      2938
Alcohol                            2744
percentage expenditure             2938
Hepatitis B                        2385
Measles                            2938
 BMI                               2904
under-five deaths                  2938
Polio                              2919
Total expenditure                  2712
Diphtheria                         2919
 HIV/AIDS                          2938
GDP                                2490
Population                         2286
 thinness  1-19 years              2904
 thinness 5-9 years                2904
Income composition of resources    2771
Schooling                          2775
dtype: int64

In [139]:
# Calculate the mean value - column wise
# led_df.mean()

In [141]:
# Calculate the Standard Deviation
# led_df.std()

In [143]:
# Calculate the minimum value
led_df.min()

Country                            Afghanistan
Year                                      2000
Status                               Developed
Life expectancy                           36.3
Adult Mortality                            1.0
infant deaths                                0
Alcohol                                   0.01
percentage expenditure                     0.0
Hepatitis B                                1.0
Measles                                      0
 BMI                                       1.0
under-five deaths                            0
Polio                                      3.0
Total expenditure                         0.37
Diphtheria                                 2.0
 HIV/AIDS                                  0.1
GDP                                    1.68135
Population                                34.0
 thinness  1-19 years                      0.1
 thinness 5-9 years                        0.1
Income composition of resources            0.0
Schooling                                  0.0
dtype: object

In [145]:
# Calculate the maximum value
led_df.max()

Country                                Zimbabwe
Year                                       2015
Status                               Developing
Life expectancy                            89.0
Adult Mortality                           723.0
infant deaths                              1800
Alcohol                                   17.87
percentage expenditure              19479.91161
Hepatitis B                                99.0
Measles                                  212183
 BMI                                       87.3
under-five deaths                          2500
Polio                                      99.0
Total expenditure                          17.6
Diphtheria                                 99.0
 HIV/AIDS                                  50.6
GDP                                 119172.7418
Population                         1293859294.0
 thinness  1-19 years                      27.7
 thinness 5-9 years                        28.6
Income composition of resources           0.948
Schooling                                  20.7
dtype: object

In [147]:
# All the statistical values about the DataFrame
led_df.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

# Manipulating a DataFrame

In [150]:
# Adding a column to a DataFrame
# led_df['GDP'] = led_df.target

In [152]:
led_df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [170]:
# Removing a Row
led_df.drop(index=0, axis=0)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
5,Afghanistan,2010,Developing,58.8,279.0,74,0.01,79.679367,66.0,1989,...,66.0,9.20,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [195]:
# Drop a column
led_df.drop(columns='Alcohol', axis=1)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,percentage expenditure,Hepatitis B,Measles,BMI,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,71.279624,65.0,1154,19.1,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,73.523582,62.0,492,18.6,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,73.219243,64.0,430,18.1,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,78.184215,67.0,2787,17.6,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,7.097109,68.0,3013,17.2,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,0.000000,68.0,31,27.1,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,0.000000,7.0,998,26.7,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,0.000000,73.0,304,26.3,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,0.000000,76.0,529,25.9,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,0.000000,79.0,1483,25.5,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [182]:
# Locating a row using the index value
led_df.iloc[2]

Country                            Afghanistan
Year                                      2013
Status                              Developing
Life expectancy                           59.9
Adult Mortality                          268.0
infant deaths                               66
Alcohol                                   0.01
percentage expenditure               73.219243
Hepatitis B                               64.0
Measles                                    430
 BMI                                      18.1
under-five deaths                           89
Polio                                     62.0
Total expenditure                         8.13
Diphtheria                                64.0
 HIV/AIDS                                  0.1
GDP                                 631.744976
Population                          31731688.0
 thinness  1-19 years                     17.7
 thinness 5-9 years                       17.7
Income composition of resources           0.47
Schooling                                  9.9
Name: 2, dtype: object

In [188]:
# Locating a particular column'
print(led_df.iloc[:,0]) # first column of the DataFrame
print(led_df.iloc[:,1]) # second
print(led_df.iloc[:,2]) # third
print(led_df.iloc[:,-1]) # last

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
2933       Zimbabwe
2934       Zimbabwe
2935       Zimbabwe
2936       Zimbabwe
2937       Zimbabwe
Name: Country, Length: 2938, dtype: object
0       2015
1       2014
2       2013
3       2012
4       2011
        ...
2933    2004
2934    2003
2935    2002
2936    2001
2937    2000
Name: Year, Length: 2938, dtype: int64
0       Developing
1       Developing
2       Developing
3       Developing
4       Developing
           ...
2933    Developing
2934    Developing
2935    Developing
2936    Developing
2937    Developing
Name: Status, Length: 2938, dtype: object
0       10.1
1       10.0
2        9.9
3        9.8
4        9.5
        ...
2933     9.2
2934     9.5
2935    10.0
2936     9.8
2937     9.8
Name: Schooling, Length: 2938, dtype: float64

# Correlation

In [1]:
# led_df.corr()